html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  background-color: #fafafa;
}
section {
  scroll-margin-top: 48px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}
&::-webkit-scrollbar {
  width: 6px;
  transition: background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}
&::-webkit-scrollbar-thumb {
  background: #1e1823;
  border-radius: 10px;
  transition: background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}
&::-webkit-scrollbar-thumb:hover {
  transition: 0.2s;
  background: #fd9222;
}

.page-header {
  margin-top: 20px;
  margin-bottom: 14px;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-inline: clamp(20px, 3vw, 32px);
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 700;
  /* font-size: 18px; */
  font-size: 14px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 18px;
}

.socials .icon {
  stroke: #111;
  fill: transparent;
  cursor: pointer;
  transition: color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.social:hover .icon,
.social:focus .icon {
  color: #fd9222;
}

.nav {
  display: flex;
  gap: 90px;
  align-items: center;

  display: none;
}

.ham-menu {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.ham-menu span {
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: #111;
  position: absolute;
  transition:
    transform 200ms cubic-bezier(0, 0.34, 0.86, 0.61),
    background-color 300ms ease-in;
}

.ham-menu span:first-child {
  top: 30%;
}

.ham-menu span:last-child {
  bottom: 30%;
}

.ham-menu.active span {
  background-color: #fff;
}

.ham-menu.active span:first-child {
  top: 50%;
  transform: rotate(45deg);
}

.ham-menu.active span:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.off-screen-menu {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 120px 20px 20px 20px;
  background-color: #1e1823;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.off-screen-menu.active {
  transform: translateX(0);
}

.off-screen-menu-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.menu-nav-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-nav-links li:first-child a {
  color: #fd9222;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.11;
  letter-spacing: -0.02em;
  color: #fff;
}

.menu-socials {
  display: flex;
  gap: 18px;
}

.menu-social .menu-icon {
  stroke: #fff;
  fill: transparent;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.logo-italic {
  font-style: italic;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.hero {
  background-color: #1e1823;
  border-radius: 30px;
  margin-bottom: clamp(60px, 4vw, 72px);
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4)), url("../img/hero-bg-375.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-resolution: 192dpi) {
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4)), url("../img/hero-bg-375@2x.jpg");
  }
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 240px 32px 20px 32px;
  flex-direction: column;
  row-gap: 32px;
}

.scroll-down {
  display: flex;
  gap: 14px;
  align-items: center;
  cursor: pointer;
  align-self: flex-start;
}

.scroll-down .icon-wrapper {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.scroll-down:hover p,
.scroll-down:focus p {
  color: #fd9222;
}

.scroll-down:hover .icon-wrapper,
.scroll-down:focus .icon-wrapper {
  background-color: #fd9222;
}

.scroll-down .icon {
  fill: #fd9222;
  transition: color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.scroll-down:hover .icon,
.scroll-down:focus .icon {
  fill: #fff;
}

.scroll-down p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.hero-content {
  display: flex;
  flex-direction: column;
  row-gap: clamp(20px, 1.4vw + 18px, 32px);
}

.cta-btns {
  display: flex;
  gap: 14px;
}

.main-heading {
  font-weight: 500;
  font-size: clamp(18px, 1.2vw + 15px, 28px);
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
}

.buy-now {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  padding-block: clamp(12px, 3vw, 14px);
  padding-inline: clamp(18px, 5.5vw, 40px);
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  transition:
    background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.buy-now:hover,
.buy-now:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.how-made {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #fff;
  padding-block: clamp(12px, 3vw, 14px);
  padding-inline: clamp(18px, 5.5vw, 40px);
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  transition:
    color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    border-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.how-made:hover,
.how-made:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.values {
  background-color: #1e1823;
  padding-block: clamp(24px, 5vw, 50px);
  margin-bottom: clamp(60px, 6vw, 100px);
}

.values .wrapper {
  padding-inline: clamp(20px, 5vw, 50px);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-values {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  gap: clamp(24px, 8vw, 88px);
  flex-direction: column;
}

.our-values li {
  position: relative;
  flex: 1 1 100%;
}

.our-values .icon {
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  padding: 15px;
  overflow: visible;
}

.sub-subheading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 18px;
}

.values-body-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}

.heading-text {
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.subheading {
  font-weight: 600;
  font-size: clamp(20px, 0.45vw + 18.5px, 24px);
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent-text {
  color: #fd9222;
}

.black {
  color: #111;
}

.body-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 1.21;
  color: #111;
  text-align: center;
}

.ingredients {
  margin-bottom: clamp(60px, 6vw, 100px);
}

.ingredients .subheading {
  margin-bottom: 28px;
}

.ingredient {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.white {
  color: #fff;
}

.ingr-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  max-width: 336px;
  margin: 0 auto;
}

.ingredient-wrapper {
  position: relative;
  overflow: hidden;
  flex: 0 0 100%;
}

.ingr-list img {
  margin: 0 auto;
  flex-shrink: 0;
}

.ingr-list .ingredient-wrapper:hover .overlay {
  transform: translateY(0);
}

.ingr-list .content {
  padding-block: 28px;
  padding-inline: clamp(28px, 2vw, 32px);
}

.overlay {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transform: translateY(101%);
  transition: transform 0.3s cubic-bezier(0.71, 0.86, 0.99, 0.79);
}

.overlay-heading {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  line-height: 1.22;
  margin-bottom: 8px;
}

.overlay-list {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-ingr {
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  padding: 6px 16px;
  border-radius: 35px;
  background-color: #fd9222;
  text-transform: lowercase;
}

.overlay-benefits {
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fafafa;
  border: 1px solid #fd9222;
  text-transform: lowercase;
}

.overlay-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  overflow-y: auto;
  max-height: 162px;
  padding-right: 8px;
}

.overlay-text::-webkit-scrollbar {
  width: 7px;
}

.overlay-text::-webkit-scrollbar-thumb {
  border: 1px solid #fd9222;
  border-radius: 10px;
  transition: background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.overlay-text::-webkit-scrollbar-thumb:hover {
  background-color: #e67e22;
}

.overlay-text::-webkit-scrollbar-track {
  background: transparent;
}

.steps .body-text {
  text-align: left;
}

.instr-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.instr-list li {
  position: relative;
  padding-left: 16px;
}

.instr-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}

.instr-list li::marker {
  border: 1px solid #eceded;
  width: 8px;
  height: 8px;
}

.ingr-list img {
  margin-bottom: 36px;
}

.ingr-list li:nth-child(1) .content {
  background-color: #fd9222;
  border-radius: 15px;
}

.ingr-list li:nth-child(3) .content {
  background-color: #1e1823;
  border-radius: 15px;
}

.ingr-list li:nth-child(2) .content,
.ingr-list li:nth-child(4) .content {
  border: 1px solid #fd9222;
  border-radius: 15px;
}

.how-its-made {
  margin-bottom: clamp(60px, 6vw, 100px);
}

.how-its-made .subheading {
  margin-bottom: clamp(32px, 4vw, 50px);
}

.made-image {
  flex-shrink: 0;
  margin: 0 auto;
}

.instructions {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.steps {
  background-color: #fff;
  border-radius: 15px;
  padding: 32px;
}

.steps .sub-subheading {
  margin-bottom: 28px;
}

.black-transparent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved {
  margin-bottom: clamp(60px, 6vw, 100px);
}

.loved .subheading {
  margin-bottom: clamp(74px, 4vw, 91px);
}

.review {
  position: relative;
  flex-basis: calc(100% - 28px * 2 / 3);
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  text-align: center;
  padding: 56px 24px 24px 24px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}

.leave-review {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  line-height: 1.22;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  transition:
    color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.client {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}

.leave-review:hover,
.leave-review:focus {
  color: #fff;
  background-color: #fd9222;
}

.page-footer {
  background-color: #1e1823;
  padding-block: clamp(32px, 6.5vw, 50px);
}

.page-footer .wrapper {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: clamp(32px, 6.5vw, 50px);
  flex-direction: column;
}

.divider {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 0px;
  margin-bottom: 32px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
}

.footer-nav {
  display: flex;
  gap: clamp(18px, 2vw, 24px);
  flex-direction: column;
}

.slogan {
  font-weight: 500;
  font-size: clamp(24px, 2vw, 28px);
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #fff;
}

address {
  font-style: normal;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
  margin-bottom: 14px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.contact-link:hover,
.contact-link:focus {
  color: #fd9222;
}

.email-input {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  max-width: 320px;
  width: 100%;
  transition: border-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.email-input:focus,
.email-input:hover {
  border-color: #fd9222;
}

.subscribe {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  line-height: 1.21;
  padding: 17px 32px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  transition:
    background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.subscribe:hover,
.subscribe:focus {
  color: #fd9222;
  background-color: #fcf1e0;
}

.newsletter {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-start;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 24, 35, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.modal {
  position: relative;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 40px;
  max-width: 517px;
  width: 100%;
  max-height: 794px;
  transition: transform 0.3s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.backdrop.active {
  opacity: 1;
  pointer-events: auto;
}

.backdrop:not(.active) .modal {
  transform: translateY(-200%);
}

.modal-close {
  position: absolute;
  top: 26px;
  right: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close .icon {
  stroke: #111;
  transition: stroke 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.modal-close:hover .icon,
.modal-close:focus .icon {
  stroke: #fd9222;
}

.modal-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #111;
  max-width: 300px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 6px;
}

.form-input {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 13px;
  padding: 20px 24px 20px 62px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
  transition: border-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.form-input:hover,
.form-input:focus {
  border-color: #fd9222;
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  stroke: #fd9222;
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  transition: stroke 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 137px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 13px;
  background-color: transparent;
  padding: 20px 24px 20px 24px;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.7);
  transition: border-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: #fd9222;
  outline: none;
}

.submit-review {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.02em;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: #fd9222;
  transition:
    background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

.submit-review:hover,
.submit-review:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.policy {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
  margin-right: 12px;
  fill: transparent;
  transition:
    background-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    fill 0.2s cubic-bezier(0, 0.34, 0.86, 0.61),
    border-color 0.2s cubic-bezier(0, 0.34, 0.86, 0.61);
}

#policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

#policy:checked + .policy-label .custom-checkbox {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}

#policy:focus + .policy-label .custom-checkbox {
  outline: 2px solid #fd9222;
  outline-offset: 2px;
}

#policy:hover + .policy-label .custom-checkbox {
  border-color: #fd9222;
}

.policy-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

@media screen and (min-width: 375px) {
  .hero .wrapper {
    padding: 395px 40px 20px 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero .wrapper {
    padding: 671px 72px 40px 72px;
    flex-direction: row;
  }
  .scroll-down {
    align-self: flex-end;
  }
  .hero {
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4)), url("../img/hero-bg-768.jpg");
    @media screen and (min-resolution: 192dpi) {
      background-image:
        linear-gradient(rgba(30, 24, 35, 0.4)), url("../img/hero-bg-768@2x.jpg");
    }
  }
  .ham-menu {
    display: none;
  }
  .off-screen-menu {
    display: none;
  }
  .nav {
    display: flex;
  }
  .our-values {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px 32px;
  }
  .our-values li {
    flex: 0 0 calc(50% - 30px);
  }
  .ingr-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    max-width: initial;
    margin: 0;
  }
  .ingredient-wrapper {
    flex: 0 0 calc(100% / 2 - 32px / 2);
    margin: 0;
  }
  .how-its-made .wrapper {
    max-width: 670px;
  }
  .footer-top {
    flex-direction: row;
  }
  .footer-bottom {
    flex-direction: row;
    align-items: center;
  }
  .newsletter {
    flex-direction: row;
    align-items: stretch;
  }
  .footer-nav {
    flex-direction: row;
    li {
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero .wrapper {
    padding: 381px 72px 40px 72px;
  }
  .hero {
    background-image:
      linear-gradient(rgba(30, 24, 35, 0.4)), url("../img/hero-bg-1200.jpg");
    @media screen and (min-resolution: 192dpi) {
      background-image:
        linear-gradient(rgba(30, 24, 35, 0.4)),
        url("../img/hero-bg-1200@2x.jpg");
    }
  }
  .our-values {
    flex-wrap: nowrap;
    gap: 88px;
  }
  .our-values li {
    flex: 0 1 calc(100% / 3 - 88px / 3);
  }
  .our-values li:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    right: -18px;
    top: 60px;
  }
  .ingr-list {
    flex-wrap: nowrap;
    gap: 19px;
  }
  .ingredient-wrapper {
    flex: 0 1 calc(100% / 4 - 19px / 4);
  }
  .instructions {
    flex-direction: row;
  }
  .email-input {
    font-size: 18px;
  }
}
